{% extends 'base.html' %}

{% block head %}

<h1>Employee Data</h1>

{% endblock head %}

{% block body %}

<div class='view-btn'>
    
    <a href="/add_employee" id="clickMeBtn" class="button">Add Employee</a>
</div>

<table border="2">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Skill</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body %}